.sidebar {
  grid-column: 1/1;
  grid-row: 1/3;
  padding: 20px 0;
  flex-direction: column;
  
  background-color: #F7F8FA;
  border: 1px solid #EBECF2;
  
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  
}


.sb-icon-img {
  margin-right: 5px;
}

.icon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

}


.sb-icon {
 display: flex; 
 height: 40px;

 justify-content: space-between;
 align-items: center;
 
}

.theme-div {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;


}

.theme {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  border-radius: 100px;
  background-color: #fff;

}

.other-menu {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  
  
  
}

