/* main styling */

.main {
  background-color: #FAFAFA;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  gap: 20px;
  height: 998px;
  padding: 30px;
  
  grid-template-columns: 63% 37%;
  grid-template-rows: auto auto;
  
 /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "Charts Charts Charts Charts Charts Charts Trends Trends Trends"
    "Charts Charts Charts Charts Charts Charts Trends Trends Trends"
    "Charts Charts Charts Charts Charts Charts Trends Trends Trends"
    "Tables Tables Tables Tables Tables Tables Platforms Platforms Platforms"
    "Tables Tables Tables Tables Tables Tables Platforms Platforms Platforms"
    "Tables Tables Tables Tables Tables Tables Platforms Platforms"
    "Tables Tables Tables Tables Tables Tables Platforms Platforms Platforms";
  */
  } 




.charts {
 /* grid-area: Charts; */
 grid-column: 1/2;
 grid-row: 1/1;


}

.orders {
  /* grid-area: Tables; */
  grid-column: 1/2;
  grid-row: 2/3;
}

.trends {
 /* grid-area: Trends; */
 grid-column: 2/3;
 grid-row: 1/1;
}

.platforms {
  /* grid-area: Platforms; */
grid-column: 2/3;
grid-row: 2/3;
}
