

/* dashboard trends */
.trends {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px;
  gap: 16px;

}

.trend {
  padding: 16px;  
  background-color: #FFFFFF;
  border-radius: 14px;
  border-radius: 1px solix #EDF2F7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.trend p {
  margin: 0;
}

.trend-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  gap: 4px;
}

.trendingup-div {
  background-color: rgba(52,202,165, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 1000px;
  padding: 1px 8px;
  gap: 4px;
  font-size: 0.75rem;
  
}

.trendingdown-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(237, 84, 78, 0.1);
  border-radius: 1000px;
  padding: 1px 8px;
  gap: 4px;
  font-size: 0.75rem;
}

.trendingup-div p{
  color: #34CAA5;
  font-weight: 500;
  font-size: 0.75rem;
}

.trendingdown-div p {
  font-weight: 500;
  font-size: 0.75rem;
  color:#ED544E;
}

